<a href="https://colab.research.google.com/github/khasanahdesi/VariabelDataType/blob/master/Variabel%2C_Type_Print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel sangat penting untuk digunakan untuk mempresentasikan sebuah nilai dalam pemrograman. Penggunaan variable sangat mempermudah untuk pembacaan code dan mmebuat code berjalan dengan baik. 
Beberapa tipe data yang biasa digunakan untuk mempresentasikan variabel 
1. Boolean (True or False) : benar bernilai 1 dan slah berilai 0
2. String ("asak") mmenyatakan sebuah karakter atau kalimat. Ini dapat berupa angka dengan menggunakan tanda ""/''
3. Integer (25,50) mempresentasikan bilangan bulat, tidak diserti keterangan tanda baca.
4. Float (3.14 atau 0.99) untuk bilangan yang bernilai desimal aatau koma
5. List ['xyz', 765, 2.23) data untaian yang menyimpan berbagai tipe data. Tipe data ini tidak dapat mengubah isiannya.
6. Dictionary {'nama':'adi','id':2} merupakan data untaian yang menyimpan data berbagai pasangan penunjik nilai.

Untuk mengetahui sebuah tipe data pada variabel, dapat menggunakan code print(type(nama_variabel))

In [3]:
# Menggunakan tipe data Boolean
print (True)

#Menggunakan Tipe Data string
print ("Hello World!")
print ('Hello world!')

#Menggunakan tipe data Float
print(3.14) # walapun bilangan desimal namun harus menggunakan titik bukan koma

# Menggunakan tipe data List
print ([1,2,3,4,5])
print (["satu","dua","tiga"])


#Menggunakan tipe data tuple
print ((1,2,3,4,5))
print (("satu", "dua", "tiga"))

# Menggunakan tipe data Dictionary
print ({"nama":"Budi", "umur":20})

#Menggunakan tipe data Dictionary dan dimasukan kedalam variabel yang bernama "Biodata"
biodata = {"nama":"Andi", "umur":21}
print(biodata)

True
Hello World!
Hello world!
3.14
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}